.shoping-cart {
    &--left {
        display: inline-block;
        margin-right: 200px;
        width: calc(100% - 200px);
    }
    &--right {
        position: fixed;
        width: 200px;
        display: inline-block;
        background: #3c3a38;
        margin-left: -190px;
        h5,
        h2 {
            color: #ffffff;
        }
    }
}