.outer-mobile-menu {
    position: fixed !important;
    margin-top: -20px;
    background: #deddd6;
    padding-bottom: 0;
    background: #ffffff;
    padding-bottom: 120px;
    z-index: 100;
    @media screen and (min-width: 767px) and (max-width: 992px) {
        width: 696px;
    }
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 516px;
    }
    @media screen and (max-width: 575px) {
        width: calc(100% - 24px);
    }
}

.mobile-menu {
    .dropdown {
        width: 50%;
    }
    .dropdown-menu {
        width: 200%;
        height: 120px;
    }
    >div {
        button {
            background: linear-gradient(345deg, #dfded9, #e2e1dd, #e5e5e1, #e8e8e5, #ecebe9, #efeeed, #f2f2f1, #f5f5f5);
            border-radius: 0 !important;
            border-right: 1px solid rgba( 0, 0, 0, 0.2);
            height: 50px;
        }
        button.btn-check:checked+button.btn,
        button.btn.active,
        button.btn.show,
        button.btn:first-child:active,
         :not(.btn-check)+.btn:active {
            border-color: transparent;
            border-radius: 0 !important;
            border-right: 1px solid rgba( 0, 0, 0, 0.2);
            background: linear-gradient(180deg, #f7f6f5, #f8f7f6, #f9f9f8, #fafaf9, #fcfbfb, #fdfcfc, #fefefe, #ffffff);
        }
    }
    >div:first-child {
        ul {
            border-radius: 0 !important;
            inset: -3px auto auto 0px !important;
            border: 1px;
        }
    }
    >div:nth-child(2) {
        ul {
            border-radius: 0 !important;
            inset: -3px 0px auto auto !important;
            border: 1px;
            @media screen and (max-width: 769px) {
                li:nth-child(17) {
                    display: none;
                }
                li:nth-child(18) {
                    display: none;
                }
                li:nth-child(19) {
                    display: none;
                }
                li:nth-child(20) {
                    display: none;
                }
                li:nth-child(21) {
                    display: none;
                }
                li:nth-child(22) {
                    display: none;
                }
                li:nth-child(23) {
                    display: none;
                }
                li:nth-child(24) {
                    display: none;
                }
                li:nth-child(25) {
                    display: none;
                }
            }
            @media screen and (max-width: 500px) {
                li:nth-child(16) {
                    display: none;
                }
            }
        }
        button {
            border-right: none;
        }
    }
}