.mobilemenu-filters {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    .mobilemenu-filters-inn {}
    ul.menu-filters {
        list-style-type: none;
        padding: 0;
        @media screen and (min-width: 767px) and (max-width: 992px) {
            column-count: 5;
        }
        @media screen and (min-width: 500px) and (max-width: 767px) {
            column-count: 4;
        }
        @media screen and (max-width: 500px) {
            column-count: 3;
        }
        li {
            font-size: 0.8em;
        }
    }
    .styled-checkbox {
        position: absolute;
        opacity: 0;
        &+label {
            display: flex;
            position: relative;
            cursor: pointer;
            padding: 0;
            line-height: 16px;
            margin-bottom: 5px;
            i {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin-left: -6px;
                margin-right: 3px;
                margin-top: 1px;
                border: 1px solid #3c3a38;
            }
            span {
                height: 18px;
                overflow: hidden;
                max-width: 80px;
            }
        }
        &+label:before {
            content: '';
            margin-right: 10px;
            vertical-align: text-top;
            width: 16px;
            height: 16px;
            background: transparent;
            border: 2px solid #3c3a38;
            @media screen and (max-width: 500px) {
                margin-right: 4px;
            }
        }
        &+span {
            max-width: 100px;
        }
        &:checked+label:before {
            background: #3c3a38;
        }
        &:checked+label:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 7px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }
    }
}