.item-card {
    position: relative;
    background: #ffffff;
    border-top: 1px solid #e0ded8;
    border-left: 1px solid #e0ded8;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0px rgba(60, 58, 56, 0.3));
    margin-bottom: 20px;
    margin-left: 10px;
    .item-card-pic {
        position: relative;
        background: #ffffff;
        position: relative;
        background: linear-gradient( 330deg, #deddd6, #e3e2dc, #e7e7e2, #ecebe7, #f1f0ed, #f5f5f3, #fafaf9, #ffffff);
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        img {
            position: relative;
            width: 80%;
            margin: 10%;
            transition: all 0.3s ease;
        }
        img:hover {
            transform: scale(1.1);
        }
        button {
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 50;
            border: none;
            background-color: transparent;
        }
        a {
            text-decoration: none;
        }
    }
    span.bb {
        display: block;
        position: relative;
        margin-left: 10%;
        width: 90%;
        height: 3px;
        background: #3c3a38;
    }
    .item-card-shop {
        >div {
            position: relative;
            display: block;
            float: right;
            width: 43px;
            height: 43px;
            background: #ddcc1f;
            margin-top: -22px;
            z-index: 2;
            cursor: pointer;
            transition: all 0.3s ease;
            .cart-link {
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    float: left;
                    fill: #3c3a38;
                }
                span.cart-count {
                    float: left;
                    margin-left: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 14px;
                    height: 14px;
                    background-color: #fff;
                    border-radius: 50%;
                    font-size: 15px;
                    font-weight: bold;
                    color: #3c3a38;
                }
            }
        }
        >div:hover {
            width: 143px;
        }
        >div a.cart-link {
            text-decoration: none;
        }
        >div:hover>a::after {
            content: "Shop Now";
            margin-left: 5px;
            line-height: 20px;
            text-decoration: none;
            color: #3c3a38;
            font-weight: bold;
        }
        >div.cart-item-added {
            background: #3c3a38;
            svg {
                fill: #ffffff !important;
            }
            .cart-count {
                background-color: #ddcc1f !important;
            }
            a.cart-link::after {
                color: #ffffff !important;
            }
        }
        >div.cart-item-added:hover>a::after {
            content: "Remove";
        }
    }
    .item-card-info {
        position: relative;
        width: 100%;
        display: inline-block;
        min-height: 160px;
        padding-left: 10%;
        margin-top: -22px;
        h1 {
            display: flex;
            align-items: center;
            position: relative;
            width: 90%;
            height: 68px;
            border-bottom: 1px solid #c6c6c6;
            font-size: 20px;
            line-height: 18px;
            color: #3c3a38;
            font-weight: bold;
        }
        i {
            display: flex;
            align-items: center;
            position: relative;
            width: 90%;
            height: 40px;
            line-height: 15px;
            color: #b0a211;
            font-weight: bold;
        }
    }
}

.item-card>div:hover {
    .item-card-pic {
        img {
            transform: scale(1.1);
        }
    }
}