.content {
    display: inline-block;
    margin-left: 400px;
    width: calc(100% - 400px);
    min-height: 80vh !important;
    margin-bottom: 30px;
    margin-top: 50px;
    @media screen and (max-width: 992px) {
        margin-top: 220px;
        width: 100%;
        margin-left: -12px !important;
    }
}

.content.c2 {
    margin-left: 350px;
    width: calc(100% - 340px);
    min-height: 100vh;
    @media screen and (max-width: 992px) {
        margin-top: 90px;
        width: 100%;
        margin-left: 0 !important;
    }
}

.content.content-nmt {
    margin-top: 1px !important;
    @media screen and (max-width: 992px) {
        margin-top: 50px !important;
    }
}

.under-top-munu {
    background: #ffffff;
    margin-top: -20px;
    position: fixed;
    z-index: 300;
    width: 1296px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid #e0ded8;
    border-bottom: 1px solid #e0ded8;
    @media screen and (min-width: 1399px) and (max-width: 1500px) {
        width: 1296px;
    }
    @media screen and (min-width: 1199px) and (max-width: 1399px) {
        width: 1116px;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        width: 936px;
    }
    @media screen and (min-width: 767px) and (max-width: 992px) {
        width: 696px;
    }
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 516px;
    }
    @media screen and (max-width: 575px) {
        width: calc(100% - 24px);
    }
    @media screen and (max-width: 992px) {
        height: 50px;
        margin-top: 20px;
        padding: 0;
        border-radius: 0
    }
    h4.pageinfo {
        width: 100%;
        text-align: center;
    }
    .dropup {
        display: none;
        width: 50%;
        border-radius: 0 !important;
        border: 0;
        background: linear-gradient(345deg, #dfded9, #e2e1dd, #e5e5e1, #e8e8e5, #ecebe9, #efeeed, #f2f2f1, #f5f5f5);
        border-radius: 0 !important;
        height: 50px;
        @media screen and (max-width: 992px) {
            display: block;
        }
        .dropdown-menu {
            width: 200%;
            border-radius: 0 !important;
            border: 1px;
            height: 115px;
        }
        button {
            height: 50px;
        }
        button.btn-check:checked+button.btn,
        button.btn.active,
        button.btn.show,
        button.btn:first-child:active,
         :not(.btn-check)+.btn:active {
            border-color: transparent;
            border-radius: 0 !important;
            border: 1px;
            border-color: rgba(255, 255, 255, 0);
            background: #ffffff;
        }
    }
    .under-top-munu--left {
        margin-left: 30px;
        @media screen and (max-width: 992px) {
            display: none;
        }
        p {
            margin-bottom: 0;
        }
    }
}

.homepage {
    .under-top-munu {
        @media screen and (max-width: 992px) {
            margin-top: 150px;
        }
    }
}

.filters-color {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    column-count: 6;
    @media screen and (max-width: 768px) {
        column-count: 5;
    }
    @media screen and (max-width: 500px) {
        column-count: 4;
        li:nth-child(17) {
            display: none;
        }
        li:nth-child(18) {
            display: none;
        }
    }
    li {
        max-width: 80px;
        font-size: 0.8em;
    }
    .styled-checkbox {
        position: absolute;
        opacity: 0;
        &+label {
            display: flex;
            position: relative;
            cursor: pointer;
            padding: 0;
            line-height: 16px;
            margin-bottom: 5px;
            i {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin-left: -6px;
                margin-right: 3px;
                margin-top: 1px;
                border: 1px solid #3c3a38;
            }
            span {
                height: 18px;
                overflow: hidden;
                max-width: 80px;
            }
        }
        &+label:before {
            content: '';
            margin-right: 10px;
            vertical-align: text-top;
            width: 16px;
            height: 16px;
            background: transparent;
            border: 2px solid #3c3a38;
            @media screen and (max-width: 500px) {
                margin-right: 4px;
            }
        }
        &+span {
            max-width: 100px;
        }
        &:checked+label:before {
            background: #3c3a38;
        }
        &:checked+label:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 7px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }
    }
}