.left-menu {
    position: fixed;
    margin-top: 50px;
    width: 400px;
    display: inline-block;
    .accordion {
        .accordion-item {
            border: none;
            background-color: transparent;
        }
        .accordion-body {
            background-color: none;
            padding-top: 0;
            padding: 0 10px 15px 10px;
            .menu-filters {
                list-style-type: none;
                padding: 0;
                column-count: 3;
                margin: 0;
            }
        }
        >div:nth-child(2) {
            .accordion-body {
                ul {
                    li:nth-child(1) {
                        span {
                            height: 19px;
                            overflow: hidden;
                            max-width: 90px;
                        }
                    }
                    li:nth-child(4) {
                        span {
                            overflow: hidden;
                            max-width: 84px;
                        }
                    }
                }
            }
        }
    }
    .accordion-button {
        position: relative;
        background: #e7d61e !important;
        border: 1px solid #c3ba55;
        border-bottom: 0;
        border-right: 0;
        cursor: pointer;
        padding: 8px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;
        margin-bottom: 18px;
        text-transform: uppercase;
        padding-left: 30px;
        -webkit-border-radius: 8px;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius: 8px;
        -moz-border-radius-bottomright: 0;
        border-radius: 8px;
        border-bottom-right-radius: 0;
        b {
            color: #3c3a38;
            font-size: 17px;
        }
        span {
            width: 27px;
            height: 27px;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: -1px;
            margin-bottom: -1px;
            background: #3c3a38;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        filter: drop-shadow(3px 3px 0px rgba(60, 58, 56, 0.3));
        .active,
        .accordion:hover {
            background-color: #ccc;
        }
        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }
    }
    .accordion.accordion-selected {
        background: linear-gradient(345deg, #e7e6e1, #eaeae5, #eeedea, #f1f1ee, #f5f4f2, #f8f8f6, #fcfbfb, #ffffff) !important;
        border: 1px solid #e0ded8;
    }
    .accordion>div.accordion-item {
        position: relative;
    }
    .accordion>div.accordion-item>h2.accordion-header>button {
        font-weight: bold;
    }
    .accordion>div.accordion-item>h2.accordion-header>button:not(.collapsed) {
        background: linear-gradient(345deg, #e7e6e1, #eaeae5, #eeedea, #f1f1ee, #f5f4f2, #f8f8f6, #fcfbfb, #ffffff) !important;
        border-top: 1px solid #e0ded8;
        border-left: 1px solid #e0ded8;
    }
    .accordion>div.accordion-item>h2.accordion-header>button:focus {
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    .accordion>div.accordion-item>h2.accordion-header>button::before {
        content: '';
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #3c3a38;
    }
    .accordion>div.accordion-item>h2.accordion-header>button::after {
        display: none;
    }
    .accordion>div.accordion-item>h2.accordion-header>button>svg {
        position: absolute;
        top: 0;
        margin-top: 14px;
        margin-right: 8px;
        right: 0;
    }
    .accordion>div.accordion-item>h2.accordion-header>button:not(.collapsed)>svg {
        transform: rotate(90deg);
        transition: transform 0.2s;
    }
    .styled-checkbox {
        position: absolute;
        opacity: 0;
        &+label {
            display: flex;
            position: relative;
            cursor: pointer;
            padding: 0;
            line-height: 16px;
            margin-bottom: 5px;
            i {
                display: box;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin-left: -6px;
                margin-right: 3px;
                margin-top: 1px;
                border: 1px solid #3c3a38;
            }
            span {
                max-width: 100px;
            }
        }
        &+label:before {
            content: '';
            margin-right: 10px;
            vertical-align: text-top;
            width: 16px;
            height: 16px;
            background: transparent;
            border: 2px solid #3c3a38;
        }
        &:checked+label:before {
            background: #3c3a38;
        }
        &:checked+label:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 7px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }
    }
}