.left-menu2 {
    position: fixed;
    margin-top: 50px;
    width: 340px;
    display: inline-block;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            position: relative;
            background: linear-gradient(345deg, #e7e6e1, #eaeae5, #eeedea, #f1f1ee, #f5f4f2, #f8f8f6, #fcfbfb, #ffffff);
            border: 1px solid #e0ded8;
            border-bottom: 0;
            border-right: 0;
            cursor: pointer;
            padding: 8px;
            width: 100%;
            text-align: left;
            outline: none;
            transition: 0.4s;
            margin-bottom: 18px;
            text-transform: uppercase;
            padding-left: 14px;
            -webkit-border-radius: 8px;
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius: 8px;
            -moz-border-radius-bottomright: 0;
            border-radius: 8px;
            border-bottom-right-radius: 0;
            filter: drop-shadow(3px 3px 0px rgba(60, 58, 56, 0.3));
            font-weight: bold;
            a {
                text-decoration: none;
                color: #3c3a38;
            }
        }
        li.active-li {
            background: #e7d61e;
        }
    }
    ul>li::before {
        content: '';
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #3c3a38;
    }
    ul>li>svg {
        position: absolute;
        top: 0;
        margin-top: 20px;
        margin-right: 7px;
        right: 0;
    }
}

.left-menu2.leftmenu-proba {
    margin-top: 0;
}