.mobile-menu2 {
    position: fixed !important;
    z-index: 300;
    margin-top: -20px;
    background: #deddd6;
    @media screen and (min-width: 767px) and (max-width: 992px) {
        width: 696px;
    }
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 516px;
    }
    @media screen and (max-width: 575px) {
        width: calc(100% - 24px);
    }
    >div {
        height: 40px;
        width: 25%;
        a.mm-button {
            float: left;
            position: relative;
            width: 100%;
            height: 40px;
            border: none;
            background: linear-gradient(345deg, #dfded9, #e2e1dd, #e5e5e1, #e8e8e5, #ecebe9, #efeeed, #f2f2f1, #f5f5f5);
            border-radius: 0 !important;
            border-right: 1px solid rgba( 0, 0, 0, 0.2);
            text-decoration: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #3c3a38;
            font-weight: bold;
            i {
                font-style: normal;
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
        a:last-child {
            border-right: none;
        }
        button.btn-check:checked+button.btn,
        button.btn.active,
        button.btn.show,
        button.btn:first-child:active,
         :not(.btn-check)+.btn:active {
            border-color: transparent;
            border-radius: 0 !important;
            border-right: 1px solid rgba( 0, 0, 0, 0.2);
            background: linear-gradient(180deg, #f7f6f5, #f8f7f6, #f9f9f8, #fafaf9, #fcfbfb, #fdfcfc, #fefefe, #ffffff);
        }
    }
    >div:first-child {
        ul {
            border-radius: 0 !important;
            inset: -3px auto auto 0px !important;
            border: 1px;
        }
    }
    >div:nth-child(2) {
        ul {
            border-radius: 0 !important;
            inset: -3px auto auto -100px !important;
            border: 1px;
        }
    }
    >div:nth-child(3) {
        ul {
            border-radius: 0 !important;
            inset: -3px auto auto -100px !important;
            border: 1px;
        }
    }
    >div:nth-child(4) {
        ul {
            border-radius: 0 !important;
            inset: -3px 0px auto auto !important;
            border: 1px;
        }
        button {
            border-right: none;
        }
    }
}