.search-bar {
    height: 49px;
    padding: 9px 24px 9px 24px;
    background-color: #e7d61e;
    @media screen and (max-width: 767px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    .form-inline {
        height: 30px;
        .search-button {
            -webkit-border-top-right-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
            -moz-border-radius-topright: 8px;
            -moz-border-radius-bottomright: 8px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            background: #3c3a38;
            border: none;
            width: 40px;
            svg {
                fill: #ffffff;
                margin-left: -2px;
                margin-top: -3px;
            }
        }
        .form-control {
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius-topright: 0;
            -moz-border-radius-bottomright: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        input:focus {
            outline: 0;
            box-shadow: 0px 0px 0px 3px rgba(176, 162, 17, 0.5) !important;
            border: none;
        }
        input:focus+button {
            outline: 3px;
            box-shadow: 0px 0px 0px 3px rgba(176, 162, 17, 0.5) !important;
        }
    }
}