.topmenu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #3c3a38;
    margin-bottom: 20px;
    .logo {
        img {
            width: 130px;
            height: auto;
            margin-left: 30px;
        }
    }
    .auth-fav-cart {
        margin-right: 30px;
        .authentication {
            .signin-link {
                text-decoration: none;
                color: #fff;
            }
            .sign-out-link {
                text-decoration: none;
                color: #e7d61e;
                margin-right: 20px;
                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
            .register-link {
                text-decoration: none;
                color: #e7d61e;
            }
            .profile-circle {
                margin-right: 10px;
            }
            .profile-link {
                margin-right: 10px;
                text-decoration: none;
                color: #fff;
            }
            .separator {
                color: #6d6b6a;
            }
        }
        .favorites {
            .favorites-link {
                >svg {
                    float: left;
                }
                span.fav-count {
                    float: left;
                    margin-left: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 17px;
                    height: 17px;
                    background-color: #e7d61e;
                    border-radius: 50%;
                    font-size: 11px;
                    font-weight: bold;
                    color: #3c3a38;
                }
            }
        }
        .cart {
            .cart-link {
                >svg {
                    float: left;
                }
                span.cart-count {
                    float: left;
                    margin-left: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 17px;
                    height: 17px;
                    background-color: #e7d61e;
                    border-radius: 50%;
                    font-size: 11px;
                    font-weight: bold;
                    color: #3c3a38;
                }
            }
        }
    }
}

.topmenu-under {
    background: #e7d61e;
    margin-bottom: 20px;
    text-align: center;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    h1 {
        color: #3c3a38;
    }
}