.outer {
    margin: 0;
    padding: 0;
    background-image: url("https://misha.krusharski.com/files/b9.png");
    background-repeat: no-repeat;
    background-size: 80% 100vh;
    background-attachment: fixed;
}

.top-menu-outer {
    position: sticky;
    top: 0;
    z-index: 900;
}