.name-label {
  font-weight: normal;
  font-size: 16px;
  margin-right: 10px;
  color: white;
}

.nickname {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

.profile-name {
  background-color: #3c3a38;
}
.profile-name-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-edit-pencil {
  margin-bottom: 10px;
}

.email-label {
  font-weight: bold;
  color: grey;
  font-size: 16px;
  margin-right: 10px;
}

.email {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.date {
  font-weight: bold;
  color: rgb(167, 165, 165);
  font-size: 16px;
}

.pencil-pointer {
  cursor: pointer;
}

.profile-save {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 10px;
  background-color: #e7d61e;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.profile-save:hover {
  background-color: #d4c217;
  cursor: pointer;
}
.profile-save:active {
  background-color: #bba515;
  transform: scale(0.98);
}
.profile-cancel {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.profile-input {
  width: 250px;
}

.profile-background {
  background: linear-gradient(
    345deg,
    #dfded9,
    #e2e1dd,
    #e5e5e1,
    #e8e8e5,
    #ecebe9,
    #efeeed,
    #f2f2f1,
    #f5f5f5
  );
  border-radius: 0 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.profile-container {
  border-top: 1px solid #e0ded8;
  border-left: 1px solid #e0ded8;
}
