.item__card-outer {
    margin-bottom: 20px;
    .item__card {
        background: #ffffff;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        filter: drop-shadow(3px 3px 0px rgba(60, 58, 56, 0.3));
        display: flex;
        justify-content: space-between;
        &-image {
            position: relative;
            -webkit-border-top-left-radius: 8px;
            -webkit-border-bottom-left-radius: 8px;
            -moz-border-radius-topleft: 8px;
            -moz-border-radius-bottomleft: 8px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            width: 30%;
            padding: 10px;
            background: linear-gradient( 330deg, #deddd6, #e3e2dc, #e7e7e2, #ecebe7, #f1f0ed, #f5f5f3, #fafaf9, #ffffff);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                position: relative;
                width: 100%;
            }
        }
        &-buttons {
            position: relative;
            button.button-fav {
                background: none;
                border: none;
                margin-top: 5px;
            }
            .shop-now-button {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 130px;
                margin-bottom: 8px;
                margin-right: 8px;
                background-color: #ddcc1f;
                padding: 2px 8px;
                border: none;
                display: flex;
                justify-content: space-evenly;
                svg {
                    font-size: 18px;
                    margin-top: 3px;
                }
            }
            button:last-of-type::before {
                content: "Add to cart";
            }
            button.cart-item-remove:last-of-type {
                background-color: #3c3a38;
                svg {
                    fill: #ffffff !important;
                }
            }
            button.cart-item-remove:last-of-type::before {
                content: "Remove from";
                color: #ffffff;
            }
        }
        &-info {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                position: relative;
                border-bottom: 1px solid #a9a8a8;
                font-size: 27px;
                height: 60px;
                line-height: 22px;
                margin-bottom: 0;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 8px;
            }
            i {
                color: #b0a211;
                font-weight: bold;
                height: 22px;
                padding-left: 8px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            span {
                height: 18px;
                padding-left: 8px;
            }
            &--price {
                font-weight: bold;
                height: 18px;
                margin-bottom: 12px;
                padding-left: 8px;
            }
        }
    }
}